{% extends "base.html" %}

{% block slug %}{{year}}{% endblock %}
{% block url %}{{ base_url }}aktuelles/{{year}}/{% endblock %}
{% block title %}{{ year }}{% endblock %}

{% block content %}
  <div class="yearnav">
    {% for y in years %}
      <a href="/aktuelles/{{y}}/" {% if year == y %}class="active"{% endif %}>{{y}}</a>
    {% endfor %}
  </div>

  <h4>Jahr {{year}}</h4>

  {% for article in articles if article.type == 'news' and article.date.year == year %}
    <div class="article">
        <i>{{article.locale_date}}</i> <b>{{article.title}}</b>
        {{article.content}}
    </div>
  {% endfor %}

  <div class="yearnav">
    Mehr Neuigkeiten aus den Jahren<br/>
    {% for y in years %}
    <a href="/aktuelles/{{y}}/" {% if year == y %}class="active"{% endif %}>{{y}}</a>
    {% endfor %}
  </div>
{% endblock %}
